body {
    
    margin: 0px;
    padding: 0px;
}
h1 {
    float: left;
    

}
.header {
    background-color:yellow;
    height: 10px;
    line-height: 10px;
    padding: 80px;
    padding-top: 30px;
    padding-left: 20px;
    margin:0px:
    float: left;
}
.navigation {
    float: right;
}
li {
    float: right;
    margin-left: 20px;
    list-style: none;
}
a {
    text-decoration: none;
}
.content {

    background-color: lightgray;
    min-height: 500px;
    width:700px;
    margin-top: 0px;
    float: left;


}
.sidebar {
  
    background-color: darkgray;
    width: 30%;
    min-height: 500px;
    float: left;
    
}
p {
    margin: 20px;
}
.blog-post {
    float: left;
}
.sidebar-2 {
    background-color: darkgray;
    width: 30%;
    height: 500px;
    position: absolute;
    left: 700px;
}

.blog-post {
    margin:10px;
    background-color:white;
    border-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}
.blog-post img {
    float:left;
    margin-bottom: 10px;
    margin-right: 10px;
}